@media(max-width:1200px){
    .header-mail{
        display: none;
    }
    .hedaer-data{
        display: none;
    }
    header .navbar-nav{
        justify-content: center;
    }
    .banner .banner-data h2 {
        font-size: 90px;
        margin-bottom: 30px;
        line-height: 72px;
    }
    .banner .banner-data p {
        margin-bottom: 30px;
    }
    .heading h2{
        font-size: 40px;
    }
}
@media(max-width:992px){
    header .navbar-toggler{
       border: 1px solid transparent;
       color: #bd9a68;
    }
    .navbar .navbar-nav{
        background-color: #fff;
    }
    .navbar .navbar-nav .nav-link {
        padding: 15px 20px;
        color: #000;
    }
    header .navbar-brand{
        display: block;
    }
    .navbar .logo img {
       display: none;
    }
   .banner .banner-data h2 {
        font-size: 80px;
        line-height: 63px;
    }
    .heading h2{
        line-height: 45px;
        font-size: 34px;
    }
    .leader{
        padding: 115px 0 120px;
    }
    .services{
        padding: 120px 0 60px;
    }
    .projects{
        padding: 120px 0;
    }
    .testimonials .review{
        width:700px;
    }
    .blog{
        padding: 120px 0 60px;
    }
    .blog .heading{
        margin-bottom: 30px;
    }
    .blog .banner-btn{
        margin-bottom: 50px;
    }
    .blog .blog-data h2 a{
        font-size: 20px;
    }
}
@media(max-width:768px){
    header .navbar-brand{
        width: 100px;
    }
    .banner-right{
        display: none;
    }
    .banner .banner-data h2 {
        font-size: 65px;
        margin-bottom: 20px;
        line-height: 52px;
    }
    .video{
        padding: 100px 0 0;
    }
    .testimonials .review{
        width:100%;
    }
    .inquiry .team{
        padding: 40px 27px;
    }
    
}
@media(max-width:576px){
    .banner .banner-data h2 {
        font-size: 45px;
        line-height: 35px;
    }
    .banner{
        padding: 200px 0;
    }
    .banner .banner-data p{
        line-height: 20px;
        width: 100%;
    }
    .heading h2{
        line-height: 37px;
        font-size: 28px;
    }
    .video .video-img{
        background-position: 50%,30%;
    }
    .services .card .card-data h2{
        font-size: 20px;
    }
    .blog .heading,.banner-btn{
        text-align: center;
    }
    .inquiry .heading{
        margin-bottom: 50px;
    }
    .inquiry .heading h2{
        font-size: 22px;
        line-height: 30px
    }
}
